<div class="row ">

  <div class="col-sm-12 bg-white ">
    <div class="  p-5 ">
      <h2 class="text-center sec-color fa-3x">Contact</h2>
     <app-line></app-line>
      </div>

      <div class="form container  p-5">
        <input type="text" placeholder="Name" class="border-0 w-100 fa-2x p-4">
        <hr>
        <input type="email" placeholder="Email Address" class="border-0 w-100 fa-2x p-4" >
        <hr>
        <input type="number" placeholder="Phone Number" class="border-0 w-100 fa-2x p-4">
        <hr>
        <textarea type="text" placeholder="Message" cols="3" rows="2" class="border-0 w-100 fa-2x p-4"></textarea>
        <hr>
        <button class="btn background px-5 py-3 m-auto text-center  "> Send</button>
      </div>


    </div>
  </div>
