

  <div class="container mt-5 mb-5">
    <h2 class="text-center sec-color fa-3x">Portfolio</h2>
    <app-line></app-line>
    <div class="row gy-5 mt-3 " >
      <div class="col-md-4 ">
        <div class="item">
            <div class="img ">
              <a>
                <img src="../../assets/images/cabin.png" class="w-100 rounded" alt="">
              </a>
            </div>
            <div class="layer d-flex justify-content-center align-items-center">
              <div class="icon">
                <i class="fa fa-plus text-white fa-5x"></i>
              </div>
            </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="item">
          <div class="img">
            <a>
              <img src="../../assets/images/cake.png" class="w-100 rounded" alt="">
            </a>
          </div>
          <div class="layer d-flex justify-content-center align-items-center">
            <div class="icon">
              <i class="fa fa-plus text-white fa-5x"></i>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="item">
          <div class="img">
            <a>
              <img src="../../assets/images/circus.png" class="w-100 rounded" alt="">
            </a>
          </div>
          <div class="layer d-flex justify-content-center align-items-center">
            <div class="icon">
              <i class="fa fa-plus text-white fa-5x"></i>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="item">
          <div class="img">
            <a>
              <img src="../../assets/images/game.png" class="w-100 rounded" alt="">
            </a>
          </div>
          <div class="layer d-flex justify-content-center align-items-center">
            <div class="icon">
              <i class="fa fa-plus text-white fa-5x"></i>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="item">
          <div class="img">
            <a>
              <img src="../../assets/images/safe.png" class="w-100 rounded" alt="">
            </a>

          </div>
          <div class="layer d-flex justify-content-center align-items-center">
            <div class="icon">
              <i class="fa fa-plus text-white fa-5x"></i>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="item">
          <div class="img">
            <a>

              <img src="../../assets/images/submarine.png" class="w-100 rounded" alt="">
            </a>

          </div>
          <div class="layer d-flex justify-content-center align-items-center">
            <div class="icon">
              <i class="fa fa-plus text-white fa-5x"></i>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
