<div class=" background  w-100 overflow-hidden">
  <div class="row">
    <div class="col-md-12">
      <div class="info text-center  p-5">
        <div class="img">
          <img src="../../assets/images/avataaars.svg" class="w-25 p-4" alt="">
        </div>

        <div class="text text-white ">
          <h2 class="pt-4 fa-4x text-uppercase">Start Angular</h2>
          <app-line></app-line>
          <p class="mt-2 fs-4">Graphic Artist - Web Designer - Illustrator</p>

        </div>


      </div>
    </div>
  </div>





</div>
